.authentication-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .authentication-container {
    flex-direction: column;
    align-items: center; 
  }
}
